In [1]:
import pandas as pd
pd.set_option('display.max_columns', None)

In [2]:
df = pd.read_csv('../../../archive/high_diamond_ranked_10min.csv')

In [3]:
df.head(5)

,gameId,blueWins,blueWardsPlaced,blueWardsDestroyed,blueFirstBlood,blueKills,blueDeaths,blueAssists,blueEliteMonsters,blueDragons,blueHeralds,blueTowersDestroyed,blueTotalGold,blueAvgLevel,blueTotalExperience,blueTotalMinionsKilled,blueTotalJungleMinionsKilled,blueGoldDiff,blueExperienceDiff,blueCSPerMin,blueGoldPerMin,redWardsPlaced,redWardsDestroyed,redFirstBlood,redKills,redDeaths,redAssists,redEliteMonsters,redDragons,redHeralds,redTowersDestroyed,redTotalGold,redAvgLevel,redTotalExperience,redTotalMinionsKilled,redTotalJungleMinionsKilled,redGoldDiff,redExperienceDiff,redCSPerMin,redGoldPerMin
0,4519157822,0,28,2,1,9,6,11,0,0,0,0,17210,6.6,17039,195,36,643,-8,19.5,1721.0,15,6,0,6,9,8,0,0,0,0,16567,6.8,17047,197,55,-643,8,19.7,1656.7
1,4523371949,0,12,1,0,5,5,5,0,0,0,0,14712,6.6,16265,174,43,-2908,-1173,17.4,1471.2,12,1,1,5,5,2,2,1,1,1,17620,6.8,17438,240,52,2908,1173,24.0,1762.0
2,4521474530,0,15,0,0,7,11,4,1,1,0,0,16113,6.4,16221,186,46,-1172,-1033,18.6,1611.3,15,3,1,11,7,14,0,0,0,0,17285,6.8,17254,203,28,1172,1033,20.3,1728.5
3,4524384067,0,43,1,0,4,5,5,1,0,1,0,15157,7.0,17954,201,55,-1321,-7,20.1,1515.7,15,2,1,5,4,10,0,0,0,0,16478,7.0,17961,235,47,1321,7,23.5,1647.8
4,4436033771,0,75,4,0,6,6,6,0,0,0,0,16400,7.0,18543,210,57,-1004,230,21.0,1640.0,17,2,1,6,6,7,1,1,0,0,17404,7.0,18313,225,67,1004,-230,22.5,1740.4

In [4]:
correlations = df.corr().stack().reset_index()
correlations['pair'] = correlations['level_0']+'|'+correlations['level_1']
correlations['pair'] = correlations['pair'].map(lambda x: sorted(x.split('|')))
correlations = correlations.loc[correlations['pair'].map(lambda x: len(set(x))) != 1]
correlations['pair'] = correlations['pair'].map(lambda x: ', '.join(x))

In [5]:
correlations.drop(['level_0','level_1'], axis = 1, inplace = True)
correlations.drop_duplicates(inplace = True)

In [6]:
correlations[0] = abs(correlations[0])
correlations.set_index('pair', inplace = True)

In [7]:
correlations.sort_values(by = 0, inplace = True)

In [8]:
correlations.loc[correlations[0] >= 0.75]

                                                0
pair
blueDragons, blueEliteMonsters           0.781039
blueExperienceDiff, redTotalExperience   0.800089
redExperienceDiff, redTotalExperience    0.800089
blueExperienceDiff, blueTotalExperience  0.800815
blueTotalExperience, redExperienceDiff   0.800815
redAssists, redKills                     0.804023
blueDeaths, redAssists                   0.804023
blueGoldDiff, redTotalGold               0.804347
redGoldDiff, redTotalGold                0.804347
blueGoldDiff, redGoldPerMin              0.804347
redGoldDiff, redGoldPerMin               0.804347
redDragons, redEliteMonsters             0.811234
blueAssists, redDeaths                   0.813667
blueAssists, blueKills                   0.813667
blueGoldPerMin, redGoldDiff              0.816803
blueGoldDiff, blueGoldPerMin             0.816803
blueTotalGold, redGoldDiff               0.816803
blueGoldDiff, blueTotalGold              0.816803
redKills, redTotalGold                   0.885728
blueDeaths, redTotalGold                 0.885728
redGoldPerMin, redKills                  0.885728
blueDeaths, redGoldPerMin                0.885728
blueTotalGold, redDeaths                 0.888751
blueKills, blueTotalGold                 0.888751
blueGoldPerMin, redDeaths                0.888751
blueGoldPerMin, blueKills                0.888751
blueExperienceDiff, redGoldDiff          0.894729
redExperienceDiff, redGoldDiff           0.894729
blueExperienceDiff, blueGoldDiff         0.894729
blueGoldDiff, redExperienceDiff          0.894729
blueAvgLevel, blueTotalExperience        0.901297
redAvgLevel, redTotalExperience          0.901748
blueExperienceDiff, redExperienceDiff    1.000000
blueGoldDiff, redGoldDiff                1.000000
blueFirstBlood, redFirstBlood            1.000000
blueKills, redDeaths                     1.000000
blueDeaths, redKills                     1.000000
blueGoldPerMin, blueTotalGold            1.000000
blueCSPerMin, blueTotalMinionsKilled     1.000000
redCSPerMin, redTotalMinionsKilled       1.000000
redGoldPerMin, redTotalGold              1.000000

In [9]:
df.drop(['blueDeaths','redDeaths','blueTotalGold','redTotalGold','redGoldDiff','redExperienceDiff',
         'redFirstBlood','blueTotalMinionsKilled','redTotalMinionsKilled','blueEliteMonsters',
         'redEliteMonsters'], axis = 1, inplace = True)

In [10]:
correlations = df.corr().stack().reset_index()
correlations['pair'] = correlations['level_0']+'|'+correlations['level_1']
correlations['pair'] = correlations['pair'].map(lambda x: sorted(x.split('|')))
correlations = correlations.loc[correlations['pair'].map(lambda x: len(set(x))) != 1]
correlations['pair'] = correlations['pair'].map(lambda x: ', '.join(x))

In [11]:
correlations.drop(['level_0','level_1'], axis = 1, inplace = True)
correlations.drop_duplicates(inplace = True)

In [12]:
correlations[0] = abs(correlations[0])
correlations.set_index('pair', inplace = True)

In [13]:
correlations.sort_values(by = 0, inplace = True)

In [14]:
correlations.loc[correlations[0] >= 0.75]

                                                0
pair
blueExperienceDiff, redTotalExperience   0.800089
blueExperienceDiff, blueTotalExperience  0.800815
redAssists, redKills                     0.804023
blueGoldDiff, redGoldPerMin              0.804347
blueAssists, blueKills                   0.813667
blueGoldDiff, blueGoldPerMin             0.816803
redGoldPerMin, redKills                  0.885728
blueGoldPerMin, blueKills                0.888751
blueExperienceDiff, blueGoldDiff         0.894729
blueAvgLevel, blueTotalExperience        0.901297
redAvgLevel, redTotalExperience          0.901748

In [15]:
len(df.columns)

29

In [16]:
df.to_csv(path_or_buf = '../../../archive/high_diamond_ranked_10min_no_identical.csv', index = False)

In [17]:
len(df)

9879

In [18]:
df.columns

Index(['gameId', 'blueWins', 'blueWardsPlaced', 'blueWardsDestroyed',
       'blueFirstBlood', 'blueKills', 'blueAssists', 'blueDragons',
       'blueHeralds', 'blueTowersDestroyed', 'blueAvgLevel',
       'blueTotalExperience', 'blueTotalJungleMinionsKilled', 'blueGoldDiff',
       'blueExperienceDiff', 'blueCSPerMin', 'blueGoldPerMin',
       'redWardsPlaced', 'redWardsDestroyed', 'redKills', 'redAssists',
       'redDragons', 'redHeralds', 'redTowersDestroyed', 'redAvgLevel',
       'redTotalExperience', 'redTotalJungleMinionsKilled', 'redCSPerMin',
       'redGoldPerMin'],
      dtype='object')

In [19]:
df.columns = df.columns.map(lambda x: 'blueVisionScore' if x == 'blueWardsPlaced'
                           else 'redVisionScore' if x == 'redWardsPlaced'
                           else x)

In [20]:
df.columns

Index(['gameId', 'blueWins', 'blueVisionScore', 'blueWardsDestroyed',
       'blueFirstBlood', 'blueKills', 'blueAssists', 'blueDragons',
       'blueHeralds', 'blueTowersDestroyed', 'blueAvgLevel',
       'blueTotalExperience', 'blueTotalJungleMinionsKilled', 'blueGoldDiff',
       'blueExperienceDiff', 'blueCSPerMin', 'blueGoldPerMin',
       'redVisionScore', 'redWardsDestroyed', 'redKills', 'redAssists',
       'redDragons', 'redHeralds', 'redTowersDestroyed', 'redAvgLevel',
       'redTotalExperience', 'redTotalJungleMinionsKilled', 'redCSPerMin',
       'redGoldPerMin'],
      dtype='object')

In [21]:
import requests
import json
from time import sleep
from functools import reduce

In [22]:
gameids = df['gameId']

In [23]:
gameids

0       4519157822
1       4523371949
2       4521474530
3       4524384067
4       4436033771
           ...
9874    4527873286
9875    4527797466
9876    4527713716
9877    4527628313
9878    4523772935
Name: gameId, Length: 9879, dtype: int64

In [24]:
# champions_list = []
# count = 0
# for id_ in gameids:
#     count += 1
#     print(count, end = ', ')
#     url = f'https://euw1.api.riotgames.com/lol/match/v4/matches/{id_}?api_key=YOUR-KEY-HERE'
#     got = requests.get(url)
#     match = json.loads(got.text)
#     sleep(1.2)
    
#     participants = match['participants']
    
#     champs = [(p['participantId'], p['teamId'], p['championId'],
#                p['timeline']['role'], p['timeline']['lane']) for p in participants]
#     champions_list.append(champs)
# champions = pd.DataFrame({'champions':champions_list})

In [25]:
champions_data = pd.read_csv('../../../archive/champions.csv')

In [26]:
champions_data.head()

                                           champions
0  [(1, 100, 111, 'DUO_SUPPORT', 'BOTTOM'), (2, 1...
1  [(1, 100, 4, 'DUO_SUPPORT', 'NONE'), (2, 100, ...
2  [(1, 100, 421, 'NONE', 'JUNGLE'), (2, 100, 84,...
3  [(1, 100, 64, 'NONE', 'JUNGLE'), (2, 100, 134,...
4  [(1, 100, 101, 'DUO', 'TOP'), (2, 100, 266, 'D...

In [27]:
sample = champions_data['champions'].iloc[0]

In [28]:
sample

"[(1, 100, 111, 'DUO_SUPPORT', 'BOTTOM'), (2, 100, 91, 'SOLO', 'MIDDLE'), (3, 100, 236, 'DUO_CARRY', 'BOTTOM'), (4, 100, 76, 'NONE', 'JUNGLE'), (5, 100, 54, 'SOLO', 'TOP'), (6, 200, 26, 'DUO_CARRY', 'BOTTOM'), (7, 200, 235, 'DUO_SUPPORT', 'BOTTOM'), (8, 200, 82, 'SOLO', 'TOP'), (9, 200, 421, 'NONE', 'JUNGLE'), (10, 200, 69, 'SOLO', 'MIDDLE')]"

In [29]:
import re
pattern = re.compile(r"(100|200), ")
splitted = pattern.split(sample)
[string.split(',')[0] for string in splitted][2:21:2]

['111', '91', '236', '76', '54', '26', '235', '82', '421', '69']

In [30]:
def reformat(champs):
    pattern = re.compile(r"(100|200), ")
    splitted = pattern.split(champs)
    return [string.split(',')[0] for string in splitted][2:21:2]

In [31]:
champion_ids = champions_data['champions'].map(reformat)

In [32]:
champion_ids.map(len).value_counts()

10    9879
Name: champions, dtype: int64

In [33]:
champion_ids = champion_ids.map(lambda x: [int(y) for y in x])

In [34]:
champion_ids

0           [111, 91, 236, 76, 54, 26, 235, 82, 421, 69]
1           [4, 350, 75, 145, 875, 110, 59, 53, 134, 39]
2         [421, 84, 236, 43, 45, 145, 154, 92, 134, 223]
3       [64, 134, 516, 432, 429, 110, 412, 58, 245, 238]
4          [101, 266, 245, 143, 21, 51, 86, 69, 235, 32]
                              ...
9874         [21, 26, 104, 122, 43, 40, 81, 38, 517, 98]
9875       [432, 110, 420, 48, 45, 59, 61, 114, 235, 58]
9876      [145, 62, 555, 268, 427, 14, 26, 69, 102, 110]
9877         [38, 24, 20, 412, 18, 98, 429, 421, 16, 39]
9878       [517, 267, 145, 238, 20, 64, 18, 134, 555, 1]
Name: champions, Length: 9879, dtype: object

In [35]:
blue_champion_ids = champion_ids.map(lambda x: x[:5])
red_champion_ids = champion_ids.map(lambda x: x[5:])

In [36]:
((blue_champion_ids.map(len)) == 5).all()

True

In [37]:
((red_champion_ids.map(len)) == 5).all()

True

In [38]:
((blue_champion_ids + red_champion_ids) == champion_ids).all()

True

In [39]:
import requests
from bs4 import BeautifulSoup
import json

In [40]:
request = requests.get('http://ddragon.leagueoflegends.com/cdn/11.14.1/data/en_US/champion.json')

In [41]:
soup = BeautifulSoup(request.text, 'lxml')

In [42]:
dict_string = soup.find_all('p')[0].text

In [43]:
dictionary = json.loads(dict_string)

In [44]:
champions = dictionary['data']

In [45]:
champions['Aatrox']

{'version': '11.14.1',
 'id': 'Aatrox',
 'key': '266',
 'name': 'Aatrox',
 'title': 'the Darkin Blade',
 'blurb': 'Once honored defenders of Shurima against the Void, Aatrox and his brethren would eventually become an even greater threat to Runeterra, and were defeated only by cunning mortal sorcery. But after centuries of imprisonment, Aatrox was the first to find...',
 'info': {'attack': 8, 'defense': 4, 'magic': 3, 'difficulty': 4},
 'image': {'full': 'Aatrox.png',
  'sprite': 'champion0.png',
  'group': 'champion',
  'x': 0,
  'y': 0,
  'w': 48,
  'h': 48},
 'tags': ['Fighter', 'Tank'],
 'partype': 'Blood Well',
 'stats': {'hp': 580,
  'hpperlevel': 90,
  'mp': 0,
  'mpperlevel': 0,
  'movespeed': 345,
  'armor': 38,
  'armorperlevel': 3.25,
  'spellblock': 32,
  'spellblockperlevel': 1.25,
  'attackrange': 175,
  'hpregen': 3,
  'hpregenperlevel': 1,
  'mpregen': 0,
  'mpregenperlevel': 0,
  'crit': 0,
  'critperlevel': 0,
  'attackdamage': 60,
  'attackdamageperlevel': 5,
  'attackspeedperlevel': 2.5,
  'attackspeed': 0.651}}

In [46]:
champ_to_num = {data['name'] : int(data['key']) for data in champions.values()}

In [47]:
champ_to_num

{'Aatrox': 266,
 'Ahri': 103,
 'Akali': 84,
 'Alistar': 12,
 'Amumu': 32,
 'Anivia': 34,
 'Annie': 1,
 'Aphelios': 523,
 'Ashe': 22,
 'Aurelion Sol': 136,
 'Azir': 268,
 'Bard': 432,
 'Blitzcrank': 53,
 'Brand': 63,
 'Braum': 201,
 'Caitlyn': 51,
 'Camille': 164,
 'Cassiopeia': 69,
 "Cho'Gath": 31,
 'Corki': 42,
 'Darius': 122,
 'Diana': 131,
 'Draven': 119,
 'Dr. Mundo': 36,
 'Ekko': 245,
 'Elise': 60,
 'Evelynn': 28,
 'Ezreal': 81,
 'Fiddlesticks': 9,
 'Fiora': 114,
 'Fizz': 105,
 'Galio': 3,
 'Gangplank': 41,
 'Garen': 86,
 'Gnar': 150,
 'Gragas': 79,
 'Graves': 104,
 'Gwen': 887,
 'Hecarim': 120,
 'Heimerdinger': 74,
 'Illaoi': 420,
 'Irelia': 39,
 'Ivern': 427,
 'Janna': 40,
 'Jarvan IV': 59,
 'Jax': 24,
 'Jayce': 126,
 'Jhin': 202,
 'Jinx': 222,
 "Kai'Sa": 145,
 'Kalista': 429,
 'Karma': 43,
 'Karthus': 30,
 'Kassadin': 38,
 'Katarina': 55,
 'Kayle': 10,
 'Kayn': 141,
 'Kennen': 85,
 "Kha'Zix": 121,
 'Kindred': 203,
 'Kled': 240,
 "Kog'Maw": 96,
 'LeBlanc': 7,
 'Lee Sin': 64,
 'Leona': 89,
 'Lillia': 876,
 'Lissandra': 127,
 'Lucian': 236,
 'Lulu': 117,
 'Lux': 99,
 'Malphite': 54,
 'Malzahar': 90,
 'Maokai': 57,
 'Master Yi': 11,
 'Miss Fortune': 21,
 'Wukong': 62,
 'Mordekaiser': 82,
 'Morgana': 25,
 'Nami': 267,
 'Nasus': 75,
 'Nautilus': 111,
 'Neeko': 518,
 'Nidalee': 76,
 'Nocturne': 56,
 'Nunu & Willump': 20,
 'Olaf': 2,
 'Orianna': 61,
 'Ornn': 516,
 'Pantheon': 80,
 'Poppy': 78,
 'Pyke': 555,
 'Qiyana': 246,
 'Quinn': 133,
 'Rakan': 497,
 'Rammus': 33,
 "Rek'Sai": 421,
 'Rell': 526,
 'Renekton': 58,
 'Rengar': 107,
 'Riven': 92,
 'Rumble': 68,
 'Ryze': 13,
 'Samira': 360,
 'Sejuani': 113,
 'Senna': 235,
 'Seraphine': 147,
 'Sett': 875,
 'Shaco': 35,
 'Shen': 98,
 'Shyvana': 102,
 'Singed': 27,
 'Sion': 14,
 'Sivir': 15,
 'Skarner': 72,
 'Sona': 37,
 'Soraka': 16,
 'Swain': 50,
 'Sylas': 517,
 'Syndra': 134,
 'Tahm Kench': 223,
 'Taliyah': 163,
 'Talon': 91,
 'Taric': 44,
 'Teemo': 17,
 'Thresh': 412,
 'Tristana': 18,
 'Trundle': 48,
 'Tryndamere': 23,
 'Twisted Fate': 4,
 'Twitch': 29,
 'Udyr': 77,
 'Urgot': 6,
 'Varus': 110,
 'Vayne': 67,
 'Veigar': 45,
 "Vel'Koz": 161,
 'Vi': 254,
 'Viego': 234,
 'Viktor': 112,
 'Vladimir': 8,
 'Volibear': 106,
 'Warwick': 19,
 'Xayah': 498,
 'Xerath': 101,
 'Xin Zhao': 5,
 'Yasuo': 157,
 'Yone': 777,
 'Yorick': 83,
 'Yuumi': 350,
 'Zac': 154,
 'Zed': 238,
 'Ziggs': 115,
 'Zilean': 26,
 'Zoe': 142,
 'Zyra': 143}

In [48]:
num_to_champ = dict(zip(champ_to_num.values(), champ_to_num.keys()))

In [49]:
num_to_champ

{266: 'Aatrox',
 103: 'Ahri',
 84: 'Akali',
 12: 'Alistar',
 32: 'Amumu',
 34: 'Anivia',
 1: 'Annie',
 523: 'Aphelios',
 22: 'Ashe',
 136: 'Aurelion Sol',
 268: 'Azir',
 432: 'Bard',
 53: 'Blitzcrank',
 63: 'Brand',
 201: 'Braum',
 51: 'Caitlyn',
 164: 'Camille',
 69: 'Cassiopeia',
 31: "Cho'Gath",
 42: 'Corki',
 122: 'Darius',
 131: 'Diana',
 119: 'Draven',
 36: 'Dr. Mundo',
 245: 'Ekko',
 60: 'Elise',
 28: 'Evelynn',
 81: 'Ezreal',
 9: 'Fiddlesticks',
 114: 'Fiora',
 105: 'Fizz',
 3: 'Galio',
 41: 'Gangplank',
 86: 'Garen',
 150: 'Gnar',
 79: 'Gragas',
 104: 'Graves',
 887: 'Gwen',
 120: 'Hecarim',
 74: 'Heimerdinger',
 420: 'Illaoi',
 39: 'Irelia',
 427: 'Ivern',
 40: 'Janna',
 59: 'Jarvan IV',
 24: 'Jax',
 126: 'Jayce',
 202: 'Jhin',
 222: 'Jinx',
 145: "Kai'Sa",
 429: 'Kalista',
 43: 'Karma',
 30: 'Karthus',
 38: 'Kassadin',
 55: 'Katarina',
 10: 'Kayle',
 141: 'Kayn',
 85: 'Kennen',
 121: "Kha'Zix",
 203: 'Kindred',
 240: 'Kled',
 96: "Kog'Maw",
 7: 'LeBlanc',
 64: 'Lee Sin',
 89: 'Leona',
 876: 'Lillia',
 127: 'Lissandra',
 236: 'Lucian',
 117: 'Lulu',
 99: 'Lux',
 54: 'Malphite',
 90: 'Malzahar',
 57: 'Maokai',
 11: 'Master Yi',
 21: 'Miss Fortune',
 62: 'Wukong',
 82: 'Mordekaiser',
 25: 'Morgana',
 267: 'Nami',
 75: 'Nasus',
 111: 'Nautilus',
 518: 'Neeko',
 76: 'Nidalee',
 56: 'Nocturne',
 20: 'Nunu & Willump',
 2: 'Olaf',
 61: 'Orianna',
 516: 'Ornn',
 80: 'Pantheon',
 78: 'Poppy',
 555: 'Pyke',
 246: 'Qiyana',
 133: 'Quinn',
 497: 'Rakan',
 33: 'Rammus',
 421: "Rek'Sai",
 526: 'Rell',
 58: 'Renekton',
 107: 'Rengar',
 92: 'Riven',
 68: 'Rumble',
 13: 'Ryze',
 360: 'Samira',
 113: 'Sejuani',
 235: 'Senna',
 147: 'Seraphine',
 875: 'Sett',
 35: 'Shaco',
 98: 'Shen',
 102: 'Shyvana',
 27: 'Singed',
 14: 'Sion',
 15: 'Sivir',
 72: 'Skarner',
 37: 'Sona',
 16: 'Soraka',
 50: 'Swain',
 517: 'Sylas',
 134: 'Syndra',
 223: 'Tahm Kench',
 163: 'Taliyah',
 91: 'Talon',
 44: 'Taric',
 17: 'Teemo',
 412: 'Thresh',
 18: 'Tristana',
 48: 'Trundle',
 23: 'Tryndamere',
 4: 'Twisted Fate',
 29: 'Twitch',
 77: 'Udyr',
 6: 'Urgot',
 110: 'Varus',
 67: 'Vayne',
 45: 'Veigar',
 161: "Vel'Koz",
 254: 'Vi',
 234: 'Viego',
 112: 'Viktor',
 8: 'Vladimir',
 106: 'Volibear',
 19: 'Warwick',
 498: 'Xayah',
 101: 'Xerath',
 5: 'Xin Zhao',
 157: 'Yasuo',
 777: 'Yone',
 83: 'Yorick',
 350: 'Yuumi',
 154: 'Zac',
 238: 'Zed',
 115: 'Ziggs',
 26: 'Zilean',
 142: 'Zoe',
 143: 'Zyra'}

In [50]:
blue_champion_ids = blue_champion_ids.map(lambda x: [num_to_champ[id] for id in x])
red_champion_ids = red_champion_ids.map(lambda x: [num_to_champ[id] for id in x])

In [51]:
blue_champion_ids

0            [Nautilus, Talon, Lucian, Nidalee, Malphite]
1              [Twisted Fate, Yuumi, Nasus, Kai'Sa, Sett]
2                 [Rek'Sai, Akali, Lucian, Karma, Veigar]
3                  [Lee Sin, Syndra, Ornn, Bard, Kalista]
4              [Xerath, Aatrox, Ekko, Zyra, Miss Fortune]
                              ...
9874        [Miss Fortune, Zilean, Graves, Darius, Karma]
9875               [Bard, Varus, Illaoi, Trundle, Veigar]
9876                  [Kai'Sa, Wukong, Pyke, Azir, Ivern]
9877    [Kassadin, Jax, Nunu & Willump, Thresh, Tristana]
9878           [Sylas, Nami, Kai'Sa, Zed, Nunu & Willump]
Name: champions, Length: 9879, dtype: object

In [52]:
red_champion_ids

0       [Zilean, Senna, Mordekaiser, Rek'Sai, Cassiopeia]
1          [Varus, Jarvan IV, Blitzcrank, Syndra, Irelia]
2                [Kai'Sa, Zac, Riven, Syndra, Tahm Kench]
3                    [Varus, Thresh, Renekton, Ekko, Zed]
4              [Caitlyn, Garen, Cassiopeia, Senna, Amumu]
                              ...
9874               [Janna, Ezreal, Kassadin, Sylas, Shen]
9875         [Jarvan IV, Orianna, Fiora, Senna, Renekton]
9876           [Sion, Zilean, Cassiopeia, Shyvana, Varus]
9877             [Shen, Kalista, Rek'Sai, Soraka, Irelia]
9878             [Lee Sin, Tristana, Syndra, Pyke, Annie]
Name: champions, Length: 9879, dtype: object

In [53]:
df['blueChamps'] = blue_champion_ids
df['redChamps'] = red_champion_ids

In [54]:
df.head()

,gameId,blueWins,blueVisionScore,blueWardsDestroyed,blueFirstBlood,blueKills,blueAssists,blueDragons,blueHeralds,blueTowersDestroyed,blueAvgLevel,blueTotalExperience,blueTotalJungleMinionsKilled,blueGoldDiff,blueExperienceDiff,blueCSPerMin,blueGoldPerMin,redVisionScore,redWardsDestroyed,redKills,redAssists,redDragons,redHeralds,redTowersDestroyed,redAvgLevel,redTotalExperience,redTotalJungleMinionsKilled,redCSPerMin,redGoldPerMin,blueChamps,redChamps
0,4519157822,0,28,2,1,9,11,0,0,0,6.6,17039,36,643,-8,19.5,1721.0,15,6,6,8,0,0,0,6.8,17047,55,19.7,1656.7,"[Nautilus, Talon, Lucian, Nidalee, Malphite]","[Zilean, Senna, Mordekaiser, Rek'Sai, Cassiopeia]"
1,4523371949,0,12,1,0,5,5,0,0,0,6.6,16265,43,-2908,-1173,17.4,1471.2,12,1,5,2,1,1,1,6.8,17438,52,24.0,1762.0,"[Twisted Fate, Yuumi, Nasus, Kai'Sa, Sett]","[Varus, Jarvan IV, Blitzcrank, Syndra, Irelia]"
2,4521474530,0,15,0,0,7,4,1,0,0,6.4,16221,46,-1172,-1033,18.6,1611.3,15,3,11,14,0,0,0,6.8,17254,28,20.3,1728.5,"[Rek'Sai, Akali, Lucian, Karma, Veigar]","[Kai'Sa, Zac, Riven, Syndra, Tahm Kench]"
3,4524384067,0,43,1,0,4,5,0,1,0,7.0,17954,55,-1321,-7,20.1,1515.7,15,2,5,10,0,0,0,7.0,17961,47,23.5,1647.8,"[Lee Sin, Syndra, Ornn, Bard, Kalista]","[Varus, Thresh, Renekton, Ekko, Zed]"
4,4436033771,0,75,4,0,6,6,0,0,0,7.0,18543,57,-1004,230,21.0,1640.0,17,2,6,7,1,0,0,7.0,18313,67,22.5,1740.4,"[Xerath, Aatrox, Ekko, Zyra, Miss Fortune]","[Caitlyn, Garen, Cassiopeia, Senna, Amumu]"

In [55]:
blueWins = df.loc[df['blueWins'] == 1, 'blueChamps']

In [56]:
blueWins

5           [Tristana, Kha'Zix, Cassiopeia, Sett, Yuumi]
6                 [Wukong, Viktor, Kalista, Taric, Kayn]
9                    [Xayah, Gragas, Pyke, Jayce, Rakan]
12      [Braum, Lee Sin, Pantheon, Ezreal, Twisted Fate]
14                 [Sett, Diana, Aatrox, Thresh, Kai'Sa]
                              ...
9872        [Vladimir, Ezreal, Nautilus, Sylas, Lee Sin]
9873             [Gragas, Soraka, Yasuo, Maokai, Lucian]
9874       [Miss Fortune, Zilean, Graves, Darius, Karma]
9875              [Bard, Varus, Illaoi, Trundle, Veigar]
9878          [Sylas, Nami, Kai'Sa, Zed, Nunu & Willump]
Name: blueChamps, Length: 4930, dtype: object

In [57]:
redWins = df.loc[df['blueWins'] == 0, 'redChamps']

In [58]:
redWins

0       [Zilean, Senna, Mordekaiser, Rek'Sai, Cassiopeia]
1          [Varus, Jarvan IV, Blitzcrank, Syndra, Irelia]
2                [Kai'Sa, Zac, Riven, Syndra, Tahm Kench]
3                    [Varus, Thresh, Renekton, Ekko, Zed]
4              [Caitlyn, Garen, Cassiopeia, Senna, Amumu]
                              ...
9867       [Taliyah, Kalista, Malzahar, Pantheon, Zilean]
9869               [Yuumi, Graves, Senna, Xerath, Aatrox]
9871                   [Jax, Lulu, Lee Sin, Vayne, Ziggs]
9876           [Sion, Zilean, Cassiopeia, Shyvana, Varus]
9877             [Shen, Kalista, Rek'Sai, Soraka, Irelia]
Name: redChamps, Length: 4949, dtype: object

In [59]:
wins = list(blueWins) + list(redWins)

In [60]:
wins_per_champ = {}
for champlist in wins:
    for champ in champlist:
        wins_per_champ[champ] = wins_per_champ.get(champ, 0) + 1

In [61]:
blueLosses = df.loc[df['blueWins'] == 0, 'blueChamps']
redLosses = df.loc[df['blueWins'] == 1, 'redChamps']
losses = list(blueLosses)+list(redLosses)

In [62]:
losses_per_champ = {}
for champlist in losses:
    for champ in champlist:
        losses_per_champ[champ] = losses_per_champ.get(champ, 0) + 1

In [63]:
len(wins_per_champ) == len(losses_per_champ)

True

In [64]:
champ_winrates = {}
for champ in wins_per_champ.keys():
    wins = wins_per_champ[champ]
    losses = losses_per_champ[champ]
    champ_winrates[champ] = wins/(wins+losses)

In [65]:
def to_pred_winrate(champlist):
    total = 0
    for champ in champlist:
        total += champ_winrates[champ]
    return total/5

In [66]:
df['blueAvgWinrate'] = df['blueChamps'].map(to_pred_winrate)
df['redAvgWinrate'] = df['redChamps'].map(to_pred_winrate)

In [67]:
picks = list(df['blueChamps']+df['redChamps'])

In [68]:
picks_per_champ = {}
for champlist in picks:
    for champ in champlist:
        picks_per_champ[champ] = picks_per_champ.get(champ, 0) + 1

In [69]:
champ_pickrates = {champ : picks/9879 for champ, picks in picks_per_champ.items()}

In [70]:
def to_avg_pickrate(champlist):
    total = 0
    for champ in champlist:
        total += champ_pickrates[champ]
    return total/5

In [71]:
df['blueAvgPickrate'] = df['blueChamps'].map(to_avg_pickrate)
df['redAvgPickrate'] = df['redChamps'].map(to_avg_pickrate)

In [72]:
df.head()

,gameId,blueWins,blueVisionScore,blueWardsDestroyed,blueFirstBlood,blueKills,blueAssists,blueDragons,blueHeralds,blueTowersDestroyed,blueAvgLevel,blueTotalExperience,blueTotalJungleMinionsKilled,blueGoldDiff,blueExperienceDiff,blueCSPerMin,blueGoldPerMin,redVisionScore,redWardsDestroyed,redKills,redAssists,redDragons,redHeralds,redTowersDestroyed,redAvgLevel,redTotalExperience,redTotalJungleMinionsKilled,redCSPerMin,redGoldPerMin,blueChamps,redChamps,blueAvgWinrate,redAvgWinrate,blueAvgPickrate,redAvgPickrate
0,4519157822,0,28,2,1,9,11,0,0,0,6.6,17039,36,643,-8,19.5,1721.0,15,6,6,8,0,0,0,6.8,17047,55,19.7,1656.7,"[Nautilus, Talon, Lucian, Nidalee, Malphite]","[Zilean, Senna, Mordekaiser, Rek'Sai, Cassiopeia]",0.489394,0.509859,0.086790,0.103614
1,4523371949,0,12,1,0,5,5,0,0,0,6.6,16265,43,-2908,-1173,17.4,1471.2,12,1,5,2,1,1,1,6.8,17438,52,24.0,1762.0,"[Twisted Fate, Yuumi, Nasus, Kai'Sa, Sett]","[Varus, Jarvan IV, Blitzcrank, Syndra, Irelia]",0.492787,0.492763,0.124203,0.121591
2,4521474530,0,15,0,0,7,4,1,0,0,6.4,16221,46,-1172,-1033,18.6,1611.3,15,3,11,14,0,0,0,6.8,17254,28,20.3,1728.5,"[Rek'Sai, Akali, Lucian, Karma, Veigar]","[Kai'Sa, Zac, Riven, Syndra, Tahm Kench]",0.489751,0.498580,0.086608,0.112683
3,4524384067,0,43,1,0,4,5,0,1,0,7.0,17954,55,-1321,-7,20.1,1515.7,15,2,5,10,0,0,0,7.0,17961,47,23.5,1647.8,"[Lee Sin, Syndra, Ornn, Bard, Kalista]","[Varus, Thresh, Renekton, Ekko, Zed]",0.501475,0.508625,0.162425,0.144974
4,4436033771,0,75,4,0,6,6,0,0,0,7.0,18543,57,-1004,230,21.0,1640.0,17,2,6,7,1,0,0,7.0,18313,67,22.5,1740.4,"[Xerath, Aatrox, Ekko, Zyra, Miss Fortune]","[Caitlyn, Garen, Cassiopeia, Senna, Amumu]",0.494971,0.511632,0.122280,0.077761

In [73]:
import numpy as np

In [74]:
winrate_df = pd.DataFrame(champ_winrates, index = ['winrates']).T

In [75]:
pickrate_df = pd.DataFrame(champ_pickrates, index = ['pickrates']).T

In [76]:
winrate_df.sort_index(inplace = True)
winrate_df

         winrates
Aatrox   0.462056
Ahri     0.587065
Akali    0.455820
Alistar  0.504950
Amumu    0.520000
...           ...
Zed      0.529412
Ziggs    0.505311
Zilean   0.492007
Zoe      0.513944
Zyra     0.475694

[148 rows x 1 columns]

In [77]:
pickrate_df.sort_index(inplace = True)
pickrate_df

         pickrates
Aatrox    0.105375
Ahri      0.020346
Akali     0.072173
Alistar   0.040895
Amumu     0.005061
...            ...
Zed       0.056787
Ziggs     0.066707
Zilean    0.056990
Zoe       0.076222
Zyra      0.029153

[148 rows x 1 columns]

In [78]:
rates_df = pd.concat([winrate_df, pickrate_df], axis = 1)

In [79]:
rates_df

         winrates  pickrates
Aatrox   0.462056   0.105375
Ahri     0.587065   0.020346
Akali    0.455820   0.072173
Alistar  0.504950   0.040895
Amumu    0.520000   0.005061
...           ...        ...
Zed      0.529412   0.056787
Ziggs    0.505311   0.066707
Zilean   0.492007   0.056990
Zoe      0.513944   0.076222
Zyra     0.475694   0.029153

[148 rows x 2 columns]

In [80]:
rates_df.sort_values('winrates', ascending = False)

                winrates  pickrates
Ahri            0.587065   0.020346
Qiyana          0.578662   0.055977
Hecarim         0.560714   0.028343
Kennen          0.556213   0.017107
Nunu & Willump  0.551205   0.033607
...                  ...        ...
Master Yi       0.419689   0.019536
Fiddlesticks    0.414141   0.030064
Jayce           0.409091   0.028950
Lissandra       0.404580   0.013260
Anivia          0.350000   0.012147

[148 rows x 2 columns]

In [81]:
rates_df.sort_values('pickrates', ascending = False)

              winrates  pickrates
Ezreal        0.497130   0.264500
Miss Fortune  0.515101   0.244660
Lee Sin       0.482964   0.237676
Thresh        0.498285   0.236056
Sett          0.499564   0.232007
...                ...        ...
Teemo         0.432990   0.009819
Annie         0.506024   0.008402
Udyr          0.506329   0.007997
Vi            0.455696   0.007997
Amumu         0.520000   0.005061

[148 rows x 2 columns]

In [82]:
rates_df.loc[rates_df['winrates'] == rates_df['winrates'].min()]

        winrates  pickrates
Anivia      0.35   0.012147

In [83]:
relevants_df = rates_df.loc[rates_df['pickrates'] >= 0.08]

In [84]:
relevants_df.sort_values('winrates', ascending = False)

              winrates  pickrates
Wukong        0.548830   0.125418
Rek'Sai       0.539001   0.115498
Rakan         0.533133   0.100820
Draven        0.532258   0.087863
Lulu          0.531281   0.101933
Cassiopeia    0.530405   0.119850
Senna         0.529743   0.161656
Janna         0.528531   0.108209
Bard          0.526971   0.146371
Jax           0.526786   0.124709
Camille       0.523333   0.091102
Elise         0.520615   0.164490
Graves        0.518299   0.102338
Miss Fortune  0.515101   0.244660
Karthus       0.514091   0.104160
Ekko          0.513873   0.182407
Syndra        0.511853   0.187873
Olaf          0.510949   0.083207
Maokai        0.508215   0.092418
Varus         0.502793   0.126835
Jarvan IV     0.502498   0.101326
Sett          0.499564   0.232007
Renekton      0.498763   0.122786
Thresh        0.498285   0.236056
Shen          0.498204   0.084523
Ezreal        0.497130   0.264500
Diana         0.494983   0.090799
Vladimir      0.494549   0.102136
Kalista       0.494382   0.171171
Pantheon      0.492818   0.091608
Kha'Zix       0.492323   0.098897
Yasuo         0.490926   0.111550
LeBlanc       0.490798   0.082498
Yuumi         0.485921   0.125822
Lee Sin       0.482964   0.237676
Aphelios      0.471710   0.159227
Kai'Sa        0.470927   0.193238
Gragas        0.470527   0.097884
Sylas         0.464465   0.141006
Pyke          0.463370   0.110538
Lucian        0.462457   0.118635
Aatrox        0.462056   0.105375
Nautilus      0.460712   0.150724
Irelia        0.454234   0.118332

In [85]:
rates_df['impact'] = np.sqrt(abs(0.5 - rates_df['winrates'])*rates_df['pickrates'])

In [86]:
rates_df.sort_values('impact', ascending = False)

          winrates  pickrates    impact
Wukong    0.548830   0.125418  0.078257
Nautilus  0.460712   0.150724  0.076952
Kai'Sa    0.470927   0.193238  0.074953
Irelia    0.454234   0.118332  0.073590
Sylas     0.464465   0.141006  0.070786
...            ...        ...       ...
Kayle     0.502075   0.024395  0.007114
Annie     0.506024   0.008402  0.007114
Evelynn   0.501845   0.027432  0.007114
Skarner   0.500000   0.014576  0.000000
Singed    0.500000   0.028748  0.000000

[148 rows x 3 columns]

In [87]:
most_impact = ['Wukong','Nautilus','Kai\'Sa','Irelia','Sylas']

In [88]:
for champ in most_impact:
    df['blueHas'+str(champ)] = df['blueChamps'].map(lambda x: champ in x).astype(int)
    df['redHas'+str(champ)] = df['redChamps'].map(lambda x: champ in x).astype(int)

In [89]:
df.head()

,gameId,blueWins,blueVisionScore,blueWardsDestroyed,blueFirstBlood,blueKills,blueAssists,blueDragons,blueHeralds,blueTowersDestroyed,blueAvgLevel,blueTotalExperience,blueTotalJungleMinionsKilled,blueGoldDiff,blueExperienceDiff,blueCSPerMin,blueGoldPerMin,redVisionScore,redWardsDestroyed,redKills,redAssists,redDragons,redHeralds,redTowersDestroyed,redAvgLevel,redTotalExperience,redTotalJungleMinionsKilled,redCSPerMin,redGoldPerMin,blueChamps,redChamps,blueAvgWinrate,redAvgWinrate,blueAvgPickrate,redAvgPickrate,blueHasWukong,redHasWukong,blueHasNautilus,redHasNautilus,blueHasKai'Sa,redHasKai'Sa,blueHasIrelia,redHasIrelia,blueHasSylas,redHasSylas
0,4519157822,0,28,2,1,9,11,0,0,0,6.6,17039,36,643,-8,19.5,1721.0,15,6,6,8,0,0,0,6.8,17047,55,19.7,1656.7,"[Nautilus, Talon, Lucian, Nidalee, Malphite]","[Zilean, Senna, Mordekaiser, Rek'Sai, Cassiopeia]",0.489394,0.509859,0.086790,0.103614,0,0,1,0,0,0,0,0,0,0
1,4523371949,0,12,1,0,5,5,0,0,0,6.6,16265,43,-2908,-1173,17.4,1471.2,12,1,5,2,1,1,1,6.8,17438,52,24.0,1762.0,"[Twisted Fate, Yuumi, Nasus, Kai'Sa, Sett]","[Varus, Jarvan IV, Blitzcrank, Syndra, Irelia]",0.492787,0.492763,0.124203,0.121591,0,0,0,0,1,0,0,1,0,0
2,4521474530,0,15,0,0,7,4,1,0,0,6.4,16221,46,-1172,-1033,18.6,1611.3,15,3,11,14,0,0,0,6.8,17254,28,20.3,1728.5,"[Rek'Sai, Akali, Lucian, Karma, Veigar]","[Kai'Sa, Zac, Riven, Syndra, Tahm Kench]",0.489751,0.498580,0.086608,0.112683,0,0,0,0,0,1,0,0,0,0
3,4524384067,0,43,1,0,4,5,0,1,0,7.0,17954,55,-1321,-7,20.1,1515.7,15,2,5,10,0,0,0,7.0,17961,47,23.5,1647.8,"[Lee Sin, Syndra, Ornn, Bard, Kalista]","[Varus, Thresh, Renekton, Ekko, Zed]",0.501475,0.508625,0.162425,0.144974,0,0,0,0,0,0,0,0,0,0
4,4436033771,0,75,4,0,6,6,0,0,0,7.0,18543,57,-1004,230,21.0,1640.0,17,2,6,7,1,0,0,7.0,18313,67,22.5,1740.4,"[Xerath, Aatrox, Ekko, Zyra, Miss Fortune]","[Caitlyn, Garen, Cassiopeia, Senna, Amumu]",0.494971,0.511632,0.122280,0.077761,0,0,0,0,0,0,0,0,0,0

In [90]:
champions_data

                                              champions
0     [(1, 100, 111, 'DUO_SUPPORT', 'BOTTOM'), (2, 1...
1     [(1, 100, 4, 'DUO_SUPPORT', 'NONE'), (2, 100, ...
2     [(1, 100, 421, 'NONE', 'JUNGLE'), (2, 100, 84,...
3     [(1, 100, 64, 'NONE', 'JUNGLE'), (2, 100, 134,...
4     [(1, 100, 101, 'DUO', 'TOP'), (2, 100, 266, 'D...
...                                                 ...
9874  [(1, 100, 21, 'DUO_CARRY', 'BOTTOM'), (2, 100,...
9875  [(1, 100, 432, 'DUO_SUPPORT', 'BOTTOM'), (2, 1...
9876  [(1, 100, 145, 'DUO_CARRY', 'BOTTOM'), (2, 100...
9877  [(1, 100, 38, 'DUO', 'MIDDLE'), (2, 100, 24, '...
9878  [(1, 100, 517, 'DUO', 'MIDDLE'), (2, 100, 267,...

[9879 rows x 1 columns]

In [91]:
sample = champions_data['champions'].iloc[0]

In [92]:
sample

"[(1, 100, 111, 'DUO_SUPPORT', 'BOTTOM'), (2, 100, 91, 'SOLO', 'MIDDLE'), (3, 100, 236, 'DUO_CARRY', 'BOTTOM'), (4, 100, 76, 'NONE', 'JUNGLE'), (5, 100, 54, 'SOLO', 'TOP'), (6, 200, 26, 'DUO_CARRY', 'BOTTOM'), (7, 200, 235, 'DUO_SUPPORT', 'BOTTOM'), (8, 200, 82, 'SOLO', 'TOP'), (9, 200, 421, 'NONE', 'JUNGLE'), (10, 200, 69, 'SOLO', 'MIDDLE')]"

In [93]:
mess = sample.strip('][').split(', ')[4::5]

In [94]:
mess

["'BOTTOM')",
 "'MIDDLE')",
 "'BOTTOM')",
 "'JUNGLE')",
 "'TOP')",
 "'BOTTOM')",
 "'BOTTOM')",
 "'TOP')",
 "'JUNGLE')",
 "'MIDDLE')"]

In [95]:
cleaned = [lane.strip("')'") for lane in mess]

In [96]:
cleaned

['BOTTOM',
 'MIDDLE',
 'BOTTOM',
 'JUNGLE',
 'TOP',
 'BOTTOM',
 'BOTTOM',
 'TOP',
 'JUNGLE',
 'MIDDLE']

In [97]:
def make_roles(champlist):
    mess = champlist.strip('][').split(', ')[4::5]
    cleaned = [lane.strip("')'") for lane in mess]
    return cleaned

In [98]:
df['roles'] = champions_data['champions'].map(make_roles)

In [99]:
df['blueRoles'] = df['roles'].map(lambda x: x[:5])

In [100]:
df['redRoles'] = df['roles'].map(lambda x: x[5:])

In [101]:
def make_conventional(roles):
    bot = 0
    mid = 0
    jung = 0
    top = 0
    for role in roles:
        if role == 'BOTTOM':
            bot += 1
        elif role == 'MIDDLE':
            mid += 1
        elif role == 'JUNGLE':
            jung += 1
        elif role == 'TOP':
            top += 1
    if (bot == 2) and (mid == 1) and (jung == 1) and (top == 1):
        return 1
    return 0

In [102]:
df['blueConventional'] = df['blueRoles'].map(make_conventional)
df['redConventional'] = df['redRoles'].map(make_conventional)

In [103]:
df['blueBottoms'] = df['blueRoles'].map(lambda x: x.count('BOTTOM'))
df['blueMiddles'] = df['blueRoles'].map(lambda x: x.count('MIDDLE'))
df['blueTops'] = df['blueRoles'].map(lambda x: x.count('TOP'))
df['blueJungles'] = df['blueRoles'].map(lambda x: x.count('JUNGLE'))

df['redBottoms'] = df['redRoles'].map(lambda x: x.count('BOTTOM'))
df['redMiddles'] = df['redRoles'].map(lambda x: x.count('MIDDLE'))
df['redTops'] = df['redRoles'].map(lambda x: x.count('TOP'))
df['redJungles'] = df['redRoles'].map(lambda x: x.count('JUNGLE'))

In [104]:
df.head()

,gameId,blueWins,blueVisionScore,blueWardsDestroyed,blueFirstBlood,blueKills,blueAssists,blueDragons,blueHeralds,blueTowersDestroyed,blueAvgLevel,blueTotalExperience,blueTotalJungleMinionsKilled,blueGoldDiff,blueExperienceDiff,blueCSPerMin,blueGoldPerMin,redVisionScore,redWardsDestroyed,redKills,redAssists,redDragons,redHeralds,redTowersDestroyed,redAvgLevel,redTotalExperience,redTotalJungleMinionsKilled,redCSPerMin,redGoldPerMin,blueChamps,redChamps,blueAvgWinrate,redAvgWinrate,blueAvgPickrate,redAvgPickrate,blueHasWukong,redHasWukong,blueHasNautilus,redHasNautilus,blueHasKai'Sa,redHasKai'Sa,blueHasIrelia,redHasIrelia,blueHasSylas,redHasSylas,roles,blueRoles,redRoles,blueConventional,redConventional,blueBottoms,blueMiddles,blueTops,blueJungles,redBottoms,redMiddles,redTops,redJungles
0,4519157822,0,28,2,1,9,11,0,0,0,6.6,17039,36,643,-8,19.5,1721.0,15,6,6,8,0,0,0,6.8,17047,55,19.7,1656.7,"[Nautilus, Talon, Lucian, Nidalee, Malphite]","[Zilean, Senna, Mordekaiser, Rek'Sai, Cassiopeia]",0.489394,0.509859,0.086790,0.103614,0,0,1,0,0,0,0,0,0,0,"[BOTTOM, MIDDLE, BOTTOM, JUNGLE, TOP, BOTTOM, ...","[BOTTOM, MIDDLE, BOTTOM, JUNGLE, TOP]","[BOTTOM, BOTTOM, TOP, JUNGLE, MIDDLE]",1,1,2,1,1,1,2,1,1,1
1,4523371949,0,12,1,0,5,5,0,0,0,6.6,16265,43,-2908,-1173,17.4,1471.2,12,1,5,2,1,1,1,6.8,17438,52,24.0,1762.0,"[Twisted Fate, Yuumi, Nasus, Kai'Sa, Sett]","[Varus, Jarvan IV, Blitzcrank, Syndra, Irelia]",0.492787,0.492763,0.124203,0.121591,0,0,0,0,1,0,0,1,0,0,"[NONE, NONE, NONE, NONE, NONE, NONE, NONE, NON...","[NONE, NONE, NONE, NONE, NONE]","[NONE, NONE, NONE, NONE, NONE]",0,0,0,0,0,0,0,0,0,0
2,4521474530,0,15,0,0,7,4,1,0,0,6.4,16221,46,-1172,-1033,18.6,1611.3,15,3,11,14,0,0,0,6.8,17254,28,20.3,1728.5,"[Rek'Sai, Akali, Lucian, Karma, Veigar]","[Kai'Sa, Zac, Riven, Syndra, Tahm Kench]",0.489751,0.498580,0.086608,0.112683,0,0,0,0,0,1,0,0,0,0,"[JUNGLE, TOP, BOTTOM, BOTTOM, MIDDLE, BOTTOM, ...","[JUNGLE, TOP, BOTTOM, BOTTOM, MIDDLE]","[BOTTOM, JUNGLE, TOP, MIDDLE, BOTTOM]",1,1,2,1,1,1,2,1,1,1
3,4524384067,0,43,1,0,4,5,0,1,0,7.0,17954,55,-1321,-7,20.1,1515.7,15,2,5,10,0,0,0,7.0,17961,47,23.5,1647.8,"[Lee Sin, Syndra, Ornn, Bard, Kalista]","[Varus, Thresh, Renekton, Ekko, Zed]",0.501475,0.508625,0.162425,0.144974,0,0,0,0,0,0,0,0,0,0,"[JUNGLE, MIDDLE, TOP, BOTTOM, BOTTOM, BOTTOM, ...","[JUNGLE, MIDDLE, TOP, BOTTOM, BOTTOM]","[BOTTOM, BOTTOM, TOP, JUNGLE, MIDDLE]",1,1,2,1,1,1,2,1,1,1
4,4436033771,0,75,4,0,6,6,0,0,0,7.0,18543,57,-1004,230,21.0,1640.0,17,2,6,7,1,0,0,7.0,18313,67,22.5,1740.4,"[Xerath, Aatrox, Ekko, Zyra, Miss Fortune]","[Caitlyn, Garen, Cassiopeia, Senna, Amumu]",0.494971,0.511632,0.122280,0.077761,0,0,0,0,0,0,0,0,0,0,"[TOP, TOP, JUNGLE, BOTTOM, BOTTOM, BOTTOM, TOP...","[TOP, TOP, JUNGLE, BOTTOM, BOTTOM]","[BOTTOM, TOP, MIDDLE, BOTTOM, JUNGLE]",0,1,2,0,2,1,2,1,1,1

In [105]:
gameids

0       4519157822
1       4523371949
2       4521474530
3       4524384067
4       4436033771
           ...
9874    4527873286
9875    4527797466
9876    4527713716
9877    4527628313
9878    4523772935
Name: gameId, Length: 9879, dtype: int64

In [106]:
# champ_levels_list = []
# count = 0
# for id_ in gameids:
#     count += 1
#     print(count, end = ', ')
#     while 1:
#         try:
#             url = f'https://euw1.api.riotgames.com/lol/match/v4/timelines/by-match/{id_}?api_key=YOUR-KEY-HERE'
#             got = requests.get(url)
#             timeline = json.loads(got.text)
#             sleep(1.2)

#             frames = timeline['frames'][:11]
#             break
#         except:
#             pass
    
#     final = frames[-1]['participantFrames']
#     levels = {i:None for i in range(1, 11)}
    
#     for participant in final.values():
#         levels[participant['participantId']] = participant['level']
    
#     champ_levels_list.append(levels)

In [107]:
levels = pd.read_csv('../../../archive/items-levels.csv').drop(['Unnamed: 0','items'], axis = 1)
levels

                                                 levels
0     {1: 5, 2: 7, 3: 7, 4: 7, 5: 7, 6: 6, 7: 6, 8: ...
1     {1: 7, 2: 5, 3: 8, 4: 6, 5: 7, 6: 6, 7: 7, 8: ...
2     {1: 6, 2: 8, 3: 5, 4: 6, 5: 7, 6: 6, 7: 6, 8: ...
3     {1: 7, 2: 8, 3: 7, 4: 7, 5: 6, 6: 6, 7: 6, 8: ...
4     {1: 8, 2: 8, 3: 7, 4: 5, 5: 7, 6: 6, 7: 8, 8: ...
...                                                 ...
9874  {1: 7, 2: 8, 3: 7, 4: 8, 5: 6, 6: 6, 7: 6, 8: ...
9875  {1: 7, 2: 6, 3: 8, 4: 8, 5: 7, 6: 7, 7: 8, 8: ...
9876  {1: 7, 2: 8, 3: 6, 4: 7, 5: 7, 6: 8, 7: 6, 8: ...
9877  {1: 8, 2: 7, 3: 6, 4: 6, 5: 6, 6: 8, 7: 7, 8: ...
9878  {1: 8, 2: 6, 3: 6, 4: 8, 5: 7, 6: 6, 7: 8, 8: ...

[9879 rows x 1 columns]

In [108]:
sample = levels['levels'].iloc[0]

In [109]:
sample

'{1: 5, 2: 7, 3: 7, 4: 7, 5: 7, 6: 6, 7: 6, 8: 7, 9: 7, 10: 8}'

In [110]:
sample = sample.split(', ')
sample

['{1: 5',
 '2: 7',
 '3: 7',
 '4: 7',
 '5: 7',
 '6: 6',
 '7: 6',
 '8: 7',
 '9: 7',
 '10: 8}']

In [111]:
sample = [x.strip('}{') for x in sample]
sample

['1: 5',
 '2: 7',
 '3: 7',
 '4: 7',
 '5: 7',
 '6: 6',
 '7: 6',
 '8: 7',
 '9: 7',
 '10: 8']

In [112]:
sample = [int(x.split(': ')[1]) for x in sample]
sample

[5, 7, 7, 7, 7, 6, 6, 7, 7, 8]

In [113]:
def to_levels(mess):
    split = mess.split(', ')
    stripped = [x.strip('}{') for x in split]
    clean = [int(x.split(': ')[1]) for x in stripped]
    
    return clean

In [114]:
levels['levels'] = levels['levels'].map(to_levels)
levels.head()

                           levels
0  [5, 7, 7, 7, 7, 6, 6, 7, 7, 8]
1  [7, 5, 8, 6, 7, 6, 7, 5, 8, 8]
2  [6, 8, 5, 6, 7, 6, 6, 8, 8, 6]
3  [7, 8, 7, 7, 6, 6, 6, 8, 7, 8]
4  [8, 8, 7, 5, 7, 6, 8, 8, 6, 7]

In [115]:
levels['blueLevels'] = levels['levels'].map(lambda x: x[:5])
levels['redLevels'] = levels['levels'].map(lambda x: x[5:])
levels.head()

                           levels       blueLevels        redLevels
0  [5, 7, 7, 7, 7, 6, 6, 7, 7, 8]  [5, 7, 7, 7, 7]  [6, 6, 7, 7, 8]
1  [7, 5, 8, 6, 7, 6, 7, 5, 8, 8]  [7, 5, 8, 6, 7]  [6, 7, 5, 8, 8]
2  [6, 8, 5, 6, 7, 6, 6, 8, 8, 6]  [6, 8, 5, 6, 7]  [6, 6, 8, 8, 6]
3  [7, 8, 7, 7, 6, 6, 6, 8, 7, 8]  [7, 8, 7, 7, 6]  [6, 6, 8, 7, 8]
4  [8, 8, 7, 5, 7, 6, 8, 8, 6, 7]  [8, 8, 7, 5, 7]  [6, 8, 8, 6, 7]

In [116]:
levels['blueMaxLevel'] = levels['blueLevels'].map(max)
levels['blueMinLevel'] = levels['blueLevels'].map(min)
levels['blueSTDLevels'] = levels['blueLevels'].map(np.std)

levels['redMaxLevel'] = levels['redLevels'].map(max)
levels['redMinLevel'] = levels['redLevels'].map(min)
levels['redSTDLevels'] = levels['redLevels'].map(np.std)

levels.head()

,levels,blueLevels,redLevels,blueMaxLevel,blueMinLevel,blueSTDLevels,redMaxLevel,redMinLevel,redSTDLevels
0,"[5, 7, 7, 7, 7, 6, 6, 7, 7, 8]","[5, 7, 7, 7, 7]","[6, 6, 7, 7, 8]",7,5,0.800000,8,6,0.748331
1,"[7, 5, 8, 6, 7, 6, 7, 5, 8, 8]","[7, 5, 8, 6, 7]","[6, 7, 5, 8, 8]",8,5,1.019804,8,5,1.166190
2,"[6, 8, 5, 6, 7, 6, 6, 8, 8, 6]","[6, 8, 5, 6, 7]","[6, 6, 8, 8, 6]",8,5,1.019804,8,6,0.979796
3,"[7, 8, 7, 7, 6, 6, 6, 8, 7, 8]","[7, 8, 7, 7, 6]","[6, 6, 8, 7, 8]",8,6,0.632456,8,6,0.894427
4,"[8, 8, 7, 5, 7, 6, 8, 8, 6, 7]","[8, 8, 7, 5, 7]","[6, 8, 8, 6, 7]",8,5,1.095445,8,6,0.894427

In [117]:
df.head(1)

,gameId,blueWins,blueVisionScore,blueWardsDestroyed,blueFirstBlood,blueKills,blueAssists,blueDragons,blueHeralds,blueTowersDestroyed,blueAvgLevel,blueTotalExperience,blueTotalJungleMinionsKilled,blueGoldDiff,blueExperienceDiff,blueCSPerMin,blueGoldPerMin,redVisionScore,redWardsDestroyed,redKills,redAssists,redDragons,redHeralds,redTowersDestroyed,redAvgLevel,redTotalExperience,redTotalJungleMinionsKilled,redCSPerMin,redGoldPerMin,blueChamps,redChamps,blueAvgWinrate,redAvgWinrate,blueAvgPickrate,redAvgPickrate,blueHasWukong,redHasWukong,blueHasNautilus,redHasNautilus,blueHasKai'Sa,redHasKai'Sa,blueHasIrelia,redHasIrelia,blueHasSylas,redHasSylas,roles,blueRoles,redRoles,blueConventional,redConventional,blueBottoms,blueMiddles,blueTops,blueJungles,redBottoms,redMiddles,redTops,redJungles
0,4519157822,0,28,2,1,9,11,0,0,0,6.6,17039,36,643,-8,19.5,1721.0,15,6,6,8,0,0,0,6.8,17047,55,19.7,1656.7,"[Nautilus, Talon, Lucian, Nidalee, Malphite]","[Zilean, Senna, Mordekaiser, Rek'Sai, Cassiopeia]",0.489394,0.509859,0.08679,0.103614,0,0,1,0,0,0,0,0,0,0,"[BOTTOM, MIDDLE, BOTTOM, JUNGLE, TOP, BOTTOM, ...","[BOTTOM, MIDDLE, BOTTOM, JUNGLE, TOP]","[BOTTOM, BOTTOM, TOP, JUNGLE, MIDDLE]",1,1,2,1,1,1,2,1,1,1

In [118]:
levels.drop(['levels','blueLevels','redLevels'], axis = 1, inplace = True)

In [119]:
df = pd.concat([df,levels], axis = 1)

In [120]:
df.head()

,gameId,blueWins,blueVisionScore,blueWardsDestroyed,blueFirstBlood,blueKills,blueAssists,blueDragons,blueHeralds,blueTowersDestroyed,blueAvgLevel,blueTotalExperience,blueTotalJungleMinionsKilled,blueGoldDiff,blueExperienceDiff,blueCSPerMin,blueGoldPerMin,redVisionScore,redWardsDestroyed,redKills,redAssists,redDragons,redHeralds,redTowersDestroyed,redAvgLevel,redTotalExperience,redTotalJungleMinionsKilled,redCSPerMin,redGoldPerMin,blueChamps,redChamps,blueAvgWinrate,redAvgWinrate,blueAvgPickrate,redAvgPickrate,blueHasWukong,redHasWukong,blueHasNautilus,redHasNautilus,blueHasKai'Sa,redHasKai'Sa,blueHasIrelia,redHasIrelia,blueHasSylas,redHasSylas,roles,blueRoles,redRoles,blueConventional,redConventional,blueBottoms,blueMiddles,blueTops,blueJungles,redBottoms,redMiddles,redTops,redJungles,blueMaxLevel,blueMinLevel,blueSTDLevels,redMaxLevel,redMinLevel,redSTDLevels
0,4519157822,0,28,2,1,9,11,0,0,0,6.6,17039,36,643,-8,19.5,1721.0,15,6,6,8,0,0,0,6.8,17047,55,19.7,1656.7,"[Nautilus, Talon, Lucian, Nidalee, Malphite]","[Zilean, Senna, Mordekaiser, Rek'Sai, Cassiopeia]",0.489394,0.509859,0.086790,0.103614,0,0,1,0,0,0,0,0,0,0,"[BOTTOM, MIDDLE, BOTTOM, JUNGLE, TOP, BOTTOM, ...","[BOTTOM, MIDDLE, BOTTOM, JUNGLE, TOP]","[BOTTOM, BOTTOM, TOP, JUNGLE, MIDDLE]",1,1,2,1,1,1,2,1,1,1,7,5,0.800000,8,6,0.748331
1,4523371949,0,12,1,0,5,5,0,0,0,6.6,16265,43,-2908,-1173,17.4,1471.2,12,1,5,2,1,1,1,6.8,17438,52,24.0,1762.0,"[Twisted Fate, Yuumi, Nasus, Kai'Sa, Sett]","[Varus, Jarvan IV, Blitzcrank, Syndra, Irelia]",0.492787,0.492763,0.124203,0.121591,0,0,0,0,1,0,0,1,0,0,"[NONE, NONE, NONE, NONE, NONE, NONE, NONE, NON...","[NONE, NONE, NONE, NONE, NONE]","[NONE, NONE, NONE, NONE, NONE]",0,0,0,0,0,0,0,0,0,0,8,5,1.019804,8,5,1.166190
2,4521474530,0,15,0,0,7,4,1,0,0,6.4,16221,46,-1172,-1033,18.6,1611.3,15,3,11,14,0,0,0,6.8,17254,28,20.3,1728.5,"[Rek'Sai, Akali, Lucian, Karma, Veigar]","[Kai'Sa, Zac, Riven, Syndra, Tahm Kench]",0.489751,0.498580,0.086608,0.112683,0,0,0,0,0,1,0,0,0,0,"[JUNGLE, TOP, BOTTOM, BOTTOM, MIDDLE, BOTTOM, ...","[JUNGLE, TOP, BOTTOM, BOTTOM, MIDDLE]","[BOTTOM, JUNGLE, TOP, MIDDLE, BOTTOM]",1,1,2,1,1,1,2,1,1,1,8,5,1.019804,8,6,0.979796
3,4524384067,0,43,1,0,4,5,0,1,0,7.0,17954,55,-1321,-7,20.1,1515.7,15,2,5,10,0,0,0,7.0,17961,47,23.5,1647.8,"[Lee Sin, Syndra, Ornn, Bard, Kalista]","[Varus, Thresh, Renekton, Ekko, Zed]",0.501475,0.508625,0.162425,0.144974,0,0,0,0,0,0,0,0,0,0,"[JUNGLE, MIDDLE, TOP, BOTTOM, BOTTOM, BOTTOM, ...","[JUNGLE, MIDDLE, TOP, BOTTOM, BOTTOM]","[BOTTOM, BOTTOM, TOP, JUNGLE, MIDDLE]",1,1,2,1,1,1,2,1,1,1,8,6,0.632456,8,6,0.894427
4,4436033771,0,75,4,0,6,6,0,0,0,7.0,18543,57,-1004,230,21.0,1640.0,17,2,6,7,1,0,0,7.0,18313,67,22.5,1740.4,"[Xerath, Aatrox, Ekko, Zyra, Miss Fortune]","[Caitlyn, Garen, Cassiopeia, Senna, Amumu]",0.494971,0.511632,0.122280,0.077761,0,0,0,0,0,0,0,0,0,0,"[TOP, TOP, JUNGLE, BOTTOM, BOTTOM, BOTTOM, TOP...","[TOP, TOP, JUNGLE, BOTTOM, BOTTOM]","[BOTTOM, TOP, MIDDLE, BOTTOM, JUNGLE]",0,1,2,0,2,1,2,1,1,1,8,5,1.095445,8,6,0.894427

In [121]:
df.drop(['blueChamps','redChamps','roles','blueRoles','redRoles'], axis = 1, inplace = True)

In [122]:
df.head()

,gameId,blueWins,blueVisionScore,blueWardsDestroyed,blueFirstBlood,blueKills,blueAssists,blueDragons,blueHeralds,blueTowersDestroyed,blueAvgLevel,blueTotalExperience,blueTotalJungleMinionsKilled,blueGoldDiff,blueExperienceDiff,blueCSPerMin,blueGoldPerMin,redVisionScore,redWardsDestroyed,redKills,redAssists,redDragons,redHeralds,redTowersDestroyed,redAvgLevel,redTotalExperience,redTotalJungleMinionsKilled,redCSPerMin,redGoldPerMin,blueAvgWinrate,redAvgWinrate,blueAvgPickrate,redAvgPickrate,blueHasWukong,redHasWukong,blueHasNautilus,redHasNautilus,blueHasKai'Sa,redHasKai'Sa,blueHasIrelia,redHasIrelia,blueHasSylas,redHasSylas,blueConventional,redConventional,blueBottoms,blueMiddles,blueTops,blueJungles,redBottoms,redMiddles,redTops,redJungles,blueMaxLevel,blueMinLevel,blueSTDLevels,redMaxLevel,redMinLevel,redSTDLevels
0,4519157822,0,28,2,1,9,11,0,0,0,6.6,17039,36,643,-8,19.5,1721.0,15,6,6,8,0,0,0,6.8,17047,55,19.7,1656.7,0.489394,0.509859,0.086790,0.103614,0,0,1,0,0,0,0,0,0,0,1,1,2,1,1,1,2,1,1,1,7,5,0.800000,8,6,0.748331
1,4523371949,0,12,1,0,5,5,0,0,0,6.6,16265,43,-2908,-1173,17.4,1471.2,12,1,5,2,1,1,1,6.8,17438,52,24.0,1762.0,0.492787,0.492763,0.124203,0.121591,0,0,0,0,1,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,8,5,1.019804,8,5,1.166190
2,4521474530,0,15,0,0,7,4,1,0,0,6.4,16221,46,-1172,-1033,18.6,1611.3,15,3,11,14,0,0,0,6.8,17254,28,20.3,1728.5,0.489751,0.498580,0.086608,0.112683,0,0,0,0,0,1,0,0,0,0,1,1,2,1,1,1,2,1,1,1,8,5,1.019804,8,6,0.979796
3,4524384067,0,43,1,0,4,5,0,1,0,7.0,17954,55,-1321,-7,20.1,1515.7,15,2,5,10,0,0,0,7.0,17961,47,23.5,1647.8,0.501475,0.508625,0.162425,0.144974,0,0,0,0,0,0,0,0,0,0,1,1,2,1,1,1,2,1,1,1,8,6,0.632456,8,6,0.894427
4,4436033771,0,75,4,0,6,6,0,0,0,7.0,18543,57,-1004,230,21.0,1640.0,17,2,6,7,1,0,0,7.0,18313,67,22.5,1740.4,0.494971,0.511632,0.122280,0.077761,0,0,0,0,0,0,0,0,0,0,0,1,2,0,2,1,2,1,1,1,8,5,1.095445,8,6,0.894427