In [1]:
import pandas as pd
import pickle
import numpy as np

In [2]:
with open('../../../../Pickles/champ_winrates.pkl', 'rb') as f:
    champ_winrates = pickle.load(f)
    
with open('../../../../Pickles/champ_pickrates.pkl', 'rb') as f:
    champ_pickrates = pickle.load(f)

In [3]:
len(champ_winrates) == len(champ_pickrates)

True

In [4]:
winrate_df = pd.DataFrame(champ_winrates, index = ['winrates']).T

In [5]:
pickrate_df = pd.DataFrame(champ_pickrates, index = ['pickrates']).T

In [6]:
winrate_df.sort_index(inplace = True)
winrate_df

     winrates
1    0.506024
2    0.510949
3    0.492260
4    0.527002
5    0.525000
..        ...
517  0.464465
518  0.438538
523  0.471710
555  0.463370
875  0.499564

[148 rows x 1 columns]

In [7]:
pickrate_df.sort_index(inplace = True)
pickrate_df

     pickrates
1     0.008402
2     0.083207
3     0.032696
4     0.054358
5     0.020245
..         ...
517   0.141006
518   0.030469
523   0.159227
555   0.110538
875   0.232007

[148 rows x 1 columns]

In [8]:
rates_df = pd.concat([winrate_df, pickrate_df], axis = 1)

In [9]:
rates_df

     winrates  pickrates
1    0.506024   0.008402
2    0.510949   0.083207
3    0.492260   0.032696
4    0.527002   0.054358
5    0.525000   0.020245
..        ...        ...
517  0.464465   0.141006
518  0.438538   0.030469
523  0.471710   0.159227
555  0.463370   0.110538
875  0.499564   0.232007

[148 rows x 2 columns]

In [10]:
rates_df.to_csv(path_or_buf = '../../../../archive/rates_df.csv', index = False)

In [11]:
rates_df.sort_values('winrates', ascending = False)

     winrates  pickrates
103  0.587065   0.020346
246  0.578662   0.055977
120  0.560714   0.028343
85   0.556213   0.017107
20   0.551205   0.033607
..        ...        ...
11   0.419689   0.019536
9    0.414141   0.030064
126  0.409091   0.028950
127  0.404580   0.013260
34   0.350000   0.012147

[148 rows x 2 columns]

In [12]:
rates_df.sort_values('pickrates', ascending = False)

     winrates  pickrates
81   0.497130   0.264500
21   0.515101   0.244660
64   0.482964   0.237676
412  0.498285   0.236056
875  0.499564   0.232007
..        ...        ...
17   0.432990   0.009819
1    0.506024   0.008402
77   0.506329   0.007997
254  0.455696   0.007997
32   0.520000   0.005061

[148 rows x 2 columns]

In [13]:
rates_df.loc[rates_df['winrates'] == rates_df['winrates'].min()]

    winrates  pickrates
34      0.35   0.012147

In [14]:
relevants_df = rates_df.loc[rates_df['pickrates'] >= 0.08]

In [15]:
relevants_df.sort_values('winrates', ascending = False)

     winrates  pickrates
62   0.548830   0.125418
421  0.539001   0.115498
497  0.533133   0.100820
119  0.532258   0.087863
117  0.531281   0.101933
69   0.530405   0.119850
235  0.529743   0.161656
40   0.528531   0.108209
432  0.526971   0.146371
24   0.526786   0.124709
164  0.523333   0.091102
60   0.520615   0.164490
104  0.518299   0.102338
21   0.515101   0.244660
30   0.514091   0.104160
245  0.513873   0.182407
134  0.511853   0.187873
2    0.510949   0.083207
57   0.508215   0.092418
110  0.502793   0.126835
59   0.502498   0.101326
875  0.499564   0.232007
58   0.498763   0.122786
412  0.498285   0.236056
98   0.498204   0.084523
81   0.497130   0.264500
131  0.494983   0.090799
8    0.494549   0.102136
429  0.494382   0.171171
80   0.492818   0.091608
121  0.492323   0.098897
157  0.490926   0.111550
7    0.490798   0.082498
350  0.485921   0.125822
64   0.482964   0.237676
523  0.471710   0.159227
145  0.470927   0.193238
79   0.470527   0.097884
517  0.464465   0.141006
555  0.463370   0.110538
236  0.462457   0.118635
266  0.462056   0.105375
111  0.460712   0.150724
39   0.454234   0.118332

In [17]:
rates_df['impact'] = np.sqrt(abs(0.5 - rates_df['winrates'])*rates_df['pickrates'])

In [20]:
rates_df.sort_values('impact', ascending = False)

     winrates  pickrates    impact
62   0.548830   0.125418  0.078257
111  0.460712   0.150724  0.076952
145  0.470927   0.193238  0.074953
39   0.454234   0.118332  0.073590
517  0.464465   0.141006  0.070786
..        ...        ...       ...
10   0.502075   0.024395  0.007114
1    0.506024   0.008402  0.007114
28   0.501845   0.027432  0.007114
72   0.500000   0.014576  0.000000
27   0.500000   0.028748  0.000000

[148 rows x 3 columns]

In [21]:
most_impact = [62,111,145,39,517]

In [22]:
df = pd.read_csv('../../../../archive/with_rates.csv')

In [25]:
df.drop('champions', axis = 1, inplace = True)

In [27]:
df['blueChamps'] = df['blueChamps'].map(lambda x: [int(y) for y in x.strip('][').split(', ')])

In [28]:
df['redChamps'] = df['redChamps'].map(lambda x: [int(y) for y in x.strip('][').split(', ')])

In [32]:
for champ in most_impact:
    df['blueHas'+str(champ)] = df['blueChamps'].map(lambda x: champ in x)
    df['redHas'+str(champ)] = df['redChamps'].map(lambda x: champ in x)

In [39]:
df.to_csv(path_or_buf = '../../../../archive/with_rates_and_spec_gods.csv', index = False)