In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('../../../../archive/No_identical_with_better_champions.csv')

In [3]:
df.drop(['blueEliteMonsters','redEliteMonsters'], axis = 1, inplace = True)

In [4]:
df

,gameId,blueWins,blueWardsPlaced,blueWardsDestroyed,blueFirstBlood,blueKills,blueAssists,blueDragons,blueHeralds,blueTowersDestroyed,...,redAssists,redDragons,redHeralds,redTowersDestroyed,redAvgLevel,redTotalExperience,redTotalJungleMinionsKilled,redCSPerMin,redGoldPerMin,champions
0,4519157822,0,28,2,1,9,11,0,0,0,...,8,0,0,0,6.8,17047,55,19.7,1656.7,"['111', '91', '236', '76', '54', '26', '235', ..."
1,4523371949,0,12,1,0,5,5,0,0,0,...,2,1,1,1,6.8,17438,52,24.0,1762.0,"['4', '350', '75', '145', '875', '110', '59', ..."
2,4521474530,0,15,0,0,7,4,1,0,0,...,14,0,0,0,6.8,17254,28,20.3,1728.5,"['421', '84', '236', '43', '45', '145', '154',..."
3,4524384067,0,43,1,0,4,5,0,1,0,...,10,0,0,0,7.0,17961,47,23.5,1647.8,"['64', '134', '516', '432', '429', '110', '412..."
4,4436033771,0,75,4,0,6,6,0,0,0,...,7,1,0,0,7.0,18313,67,22.5,1740.4,"['101', '266', '245', '143', '21', '51', '86',..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9874,4527873286,1,17,2,1,7,5,1,0,0,...,7,0,0,0,6.8,16498,34,22.9,1524.6,"['21', '26', '104', '122', '43', '40', '81', '..."
9875,4527797466,1,54,0,0,6,8,1,0,0,...,3,0,0,0,7.0,18367,56,20.6,1545.6,"['432', '110', '420', '48', '45', '59', '61', ..."
9876,4527713716,0,23,1,0,6,5,0,0,0,...,11,1,0,0,7.4,19909,60,26.1,1831.9,"['145', '62', '555', '268', '427', '14', '26',..."
9877,4527628313,0,14,4,1,2,3,1,0,0,...,1,0,0,0,7.2,18314,40,24.7,1529.8,"['38', '24', '20', '412', '18', '98', '429', '..."
9878,4523772935,1,18,0,1,6,5,0,0,0,...,4,1,0,0,6.8,17379,46,20.1,1533.9,"['517', '267', '145', '238', '20', '64', '18',..."

In [5]:
df['champions'] = df['champions'].map(lambda x: x.strip('][').split(', '))

In [6]:
df['champions'] = df['champions'].map(lambda x: [int(y.strip("'")) for y in x])

In [7]:
df['champions'].iloc[0]

[111, 91, 236, 76, 54, 26, 235, 82, 421, 69]

In [8]:
df['blueChamps'] = df['champions'].map(lambda x: x[:5])
df['redChamps'] = df['champions'].map(lambda x: x[5:])

In [9]:
df[['blueChamps','redChamps']]

                    blueChamps                 redChamps
0       [111, 91, 236, 76, 54]    [26, 235, 82, 421, 69]
1       [4, 350, 75, 145, 875]    [110, 59, 53, 134, 39]
2       [421, 84, 236, 43, 45]  [145, 154, 92, 134, 223]
3     [64, 134, 516, 432, 429]  [110, 412, 58, 245, 238]
4     [101, 266, 245, 143, 21]     [51, 86, 69, 235, 32]
...                        ...                       ...
9874    [21, 26, 104, 122, 43]     [40, 81, 38, 517, 98]
9875   [432, 110, 420, 48, 45]    [59, 61, 114, 235, 58]
9876  [145, 62, 555, 268, 427]    [14, 26, 69, 102, 110]
9877     [38, 24, 20, 412, 18]    [98, 429, 421, 16, 39]
9878  [517, 267, 145, 238, 20]     [64, 18, 134, 555, 1]

[9879 rows x 2 columns]

In [10]:
blueWins = df.loc[df['blueWins'] == 1, 'blueChamps']

In [11]:
blueWins

5         [18, 121, 69, 875, 350]
6         [62, 112, 429, 44, 141]
9        [498, 79, 555, 126, 497]
12           [201, 64, 80, 81, 4]
14      [875, 131, 266, 412, 145]
                  ...
9872        [8, 81, 111, 517, 64]
9873       [79, 16, 157, 57, 236]
9874       [21, 26, 104, 122, 43]
9875      [432, 110, 420, 48, 45]
9878     [517, 267, 145, 238, 20]
Name: blueChamps, Length: 4930, dtype: object

In [12]:
redWins = df.loc[df['blueWins'] == 0, 'redChamps']

In [13]:
redWins

0          [26, 235, 82, 421, 69]
1          [110, 59, 53, 134, 39]
2        [145, 154, 92, 134, 223]
3        [110, 412, 58, 245, 238]
4           [51, 86, 69, 235, 32]
                  ...
9867       [163, 429, 90, 80, 26]
9869    [350, 104, 235, 101, 266]
9871       [24, 117, 64, 67, 115]
9876       [14, 26, 69, 102, 110]
9877       [98, 429, 421, 16, 39]
Name: redChamps, Length: 4949, dtype: object

In [14]:
wins = list(blueWins) + list(redWins)

In [15]:
wins_per_champ = {}
for champlist in wins:
    for champ in champlist:
        wins_per_champ[champ] = wins_per_champ.get(champ, 0) + 1

In [16]:
blueLosses = df.loc[df['blueWins'] == 0, 'blueChamps']
redLosses = df.loc[df['blueWins'] == 1, 'redChamps']
losses = list(blueLosses)+list(redLosses)

In [17]:
losses_per_champ = {}
for champlist in losses:
    for champ in champlist:
        losses_per_champ[champ] = losses_per_champ.get(champ, 0) + 1

In [18]:
len(wins_per_champ) == len(losses_per_champ)

True

In [19]:
champ_winrates = {}
for champ in wins_per_champ.keys():
    wins = wins_per_champ[champ]
    losses = losses_per_champ[champ]
    champ_winrates[champ] = wins/(wins+losses)

In [20]:
def to_pred_winrate(champlist):
    total = 0
    for champ in champlist:
        total += champ_winrates[champ]
    return total/5

In [21]:
df['bluePredWinrate'] = df['blueChamps'].map(to_pred_winrate)
df['redPredWinrate'] = df['redChamps'].map(to_pred_winrate)

In [22]:
picks = list(df['champions'])

In [23]:
picks_per_champ = {}
for champlist in picks:
    for champ in champlist:
        picks_per_champ[champ] = picks_per_champ.get(champ, 0) + 1

In [24]:
champ_pickrates = {champ : picks/9879 for champ, picks in picks_per_champ.items()}

In [25]:
def to_avg_pickrate(champlist):
    total = 0
    for champ in champlist:
        total += champ_pickrates[champ]
    return total/5

In [26]:
df['blueAvgPickrate'] = df['blueChamps'].map(to_avg_pickrate)
df['redAvgPickrate'] = df['redChamps'].map(to_avg_pickrate)

In [27]:
df

,gameId,blueWins,blueWardsPlaced,blueWardsDestroyed,blueFirstBlood,blueKills,blueAssists,blueDragons,blueHeralds,blueTowersDestroyed,...,redTotalJungleMinionsKilled,redCSPerMin,redGoldPerMin,champions,blueChamps,redChamps,bluePredWinrate,redPredWinrate,blueAvgPickrate,redAvgPickrate
0,4519157822,0,28,2,1,9,11,0,0,0,...,55,19.7,1656.7,"[111, 91, 236, 76, 54, 26, 235, 82, 421, 69]","[111, 91, 236, 76, 54]","[26, 235, 82, 421, 69]",0.489394,0.509859,0.086790,0.103614
1,4523371949,0,12,1,0,5,5,0,0,0,...,52,24.0,1762.0,"[4, 350, 75, 145, 875, 110, 59, 53, 134, 39]","[4, 350, 75, 145, 875]","[110, 59, 53, 134, 39]",0.492787,0.492763,0.124203,0.121591
2,4521474530,0,15,0,0,7,4,1,0,0,...,28,20.3,1728.5,"[421, 84, 236, 43, 45, 145, 154, 92, 134, 223]","[421, 84, 236, 43, 45]","[145, 154, 92, 134, 223]",0.489751,0.498580,0.086608,0.112683
3,4524384067,0,43,1,0,4,5,0,1,0,...,47,23.5,1647.8,"[64, 134, 516, 432, 429, 110, 412, 58, 245, 238]","[64, 134, 516, 432, 429]","[110, 412, 58, 245, 238]",0.501475,0.508625,0.162425,0.144974
4,4436033771,0,75,4,0,6,6,0,0,0,...,67,22.5,1740.4,"[101, 266, 245, 143, 21, 51, 86, 69, 235, 32]","[101, 266, 245, 143, 21]","[51, 86, 69, 235, 32]",0.494971,0.511632,0.122280,0.077761
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9874,4527873286,1,17,2,1,7,5,1,0,0,...,34,22.9,1524.6,"[21, 26, 104, 122, 43, 40, 81, 38, 517, 98]","[21, 26, 104, 122, 43]","[40, 81, 38, 517, 98]",0.502941,0.500477,0.110720,0.134771
9875,4527797466,1,54,0,0,6,8,1,0,0,...,56,20.6,1545.6,"[432, 110, 420, 48, 45, 59, 61, 114, 235, 58]","[432, 110, 420, 48, 45]","[59, 61, 114, 235, 58]",0.502162,0.502697,0.077639,0.102116
9876,4527713716,0,23,1,0,6,5,0,0,0,...,60,26.1,1831.9,"[145, 62, 555, 268, 427, 14, 26, 69, 102, 110]","[145, 62, 555, 268, 427]","[14, 26, 69, 102, 110]",0.484159,0.503327,0.098674,0.075311
9877,4527628313,0,14,4,1,2,3,1,0,0,...,40,24.7,1529.8,"[38, 24, 20, 412, 18, 98, 429, 421, 16, 39]","[38, 24, 20, 412, 18]","[98, 429, 421, 16, 39]",0.512919,0.488982,0.105011,0.102359
9878,4523772935,1,18,0,1,6,5,0,0,0,...,46,20.1,1533.9,"[517, 267, 145, 238, 20, 64, 18, 134, 555, 1]","[517, 267, 145, 238, 20]","[64, 18, 134, 555, 1]",0.500558,0.487695,0.097945,0.119911

In [28]:
df.to_csv(path_or_buf = '../../../../archive/with_rates.csv', index = False)